pipeline/ForEachActivity.json
{
	"name": "ForEachActivity",
	"properties": {
		"activities": [
			{
				"name": "GetMetadataFolder",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Wait10Secs",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "RawFolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"itemType",
						"lastModified",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Wait10Secs",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 10
				}
			},
			{
				"name": "GetMetadataFiles",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "GetMetadataFolder",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DataFiles",
						"type": "DatasetReference",
						"parameters": {
							"pFileName": "Conditional Split.csv"
						}
					},
					"fieldList": [
						"size",
						"lastModified",
						"structure",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadataFolder",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadataFolder').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait2Seconds",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						}
					]
				}
			},
			{
				"name": "IfCondition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetMetadataFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('GetMetadataFiles').output.size,300)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "WaitFalse5Secs",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 5
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "WaitTrue2Secs",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}