pipeline/UntilFileExist.json
{
	"name": "UntilFileExist",
	"properties": {
		"activities": [
			{
				"name": "UntilFileExist",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('FileExist')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetMetadataCountry",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Country",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "IfConditionFileExists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetMetadataCountry",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('GetMetadataCountry').output.exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait30SecsFalse",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 30
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "SetVariableFileExist",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "FileExist",
											"value": {
												"value": "@activity('GetMetadataCountry').output.exists",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"FileExist": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"annotations": []
	}
}